@-ms-viewport{
	width:device-width; 
}

.view {
	float:left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid black;
	height:100%;
	overflow: auto;
}

#content {
	height: 100%;
}

#content .view:first-child{
	border: none;
}
