.view {
	float:left;
	box-sizing: border-box;
	border-left: 1px solid black;
	height:100%;
/*	display:none;*/
}
#content {
	height: 100%;
}

#content .view:first-child{
	border: none;
}
/*
@media (min-width: 801px) {
	.view {
		display:block;
	}
}*/
