.view {
	float:left;
	display:none;
}

@media (min-width: 801px) {
	.view {
		display:block;
		margin:50px;
	}
}

@media (max-width: 800px) and (min-width: 401px) {
	.view {
		display:none;
	}

	#firstApp_Root > .view:nth-last-child(-n+2){
		display:block; 
		width:50%;
	}
}

@media (max-width: 400px) {
	.view {
		display:none;
	}

	#firstApp_Root > .view:last-child{
		display:block; 
		width:100%;
	}
}